$dark-grey: hsl(0, 0%, 88%);
$light-grey: hsl(0, 0%, 93%);

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Nanum+Gothic+Coding');

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
}

h2 {
  font-size: 1.5em;
}

p, body {
	font-family: "Lato", "Helvetica", sans-serif;
}

code {
  font-family: 'Nanum Gothic Coding', monospace;
  display: block; 
}

.spaced {
  margin: 2em 0;
}


.code-block {
  border-radius: .5em;
  border: .3em solid $light-grey;
  box-shadow: 1px 1px 0.3em grey inset;
  margin: .5em 0;
  overflow: auto;
  padding: 1em;
  background: $dark-grey;

  code {
    color: #555555;
  }
}

code.comments {
  color: #888888;
}